API_ACCESS_KEY=your_api_key_here
GEMINI_API_KEY=your_gemini_key_here
GEMINI_MODEL_NAME=gemini-1.5-flash
REDIS_URL=redis://localhost:6379

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="<your_api_key>"
LANGSMITH_PROJECT="receipt-ai"